@import '../../vars.scss';

player-summary-component {
  display: block;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .card {
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 3%;
    border-radius: 25px;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .card:active {
    transform: scale(1.1);
  }

}